/* Style for the Body */
body {
    background-color: #212121; /* Change to the desired background color */
    margin: 0; /* Remove default body margin */
    font-family: Arial, sans-serif; /* Add a default font-family */
}

/* CSS for top bar */
.top-bar {
    background-color: #2e2e2e;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* CSS for hamburger menu */
.hamburger-menu {
    /* Style your hamburger menu icon here */
    cursor: pointer;
    padding: 10px;
}

.hamburger-menu img {
    width: 30px; /* Adjust the size as needed */
    height: auto; /* Maintain aspect ratio */
}

/* CSS for sidebar */
.sidebar {
    background-color: #2e2e2e;
    width: 200px;
    height: 100%;
    position: fixed;
    top: 50px;
    left: -200px; /* Initially hide the sidebar */
    transition: left 0.3s ease; /* Add smooth transition */
}

.sidebar-open {
    left: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
}

.sidebar a {
    color: white;
    text-decoration: none;
}

/* CSS for content area */
.content {
    margin-left: 0; /* Adjust according to your sidebar width */
    padding: 20px;
}

/* --------------------------- */
/* -----  Weather Stuff  ----- */
/* --------------------------- */

.weather-container {
    margin-left: 30px;
}

.weather-box {
    width: 200px; /* Adjust size as needed */
    height: 200px; /* Fixed aspect ratio */
    background-color: #fff; /* Background color */
    border-radius: 10px; /* Rounded corners */
    padding: 10px; /* Spacing */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow */
}

.weather-icon {
    /* Style for weather icon */
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Maintain aspect ratio */
    background-image: url('sunny.jpg'); /* Default icon */
    background-size: cover; /* Maintain aspect ratio */
}

.weather-info {
    text-align: center; /* Center align text */
    margin-top: 10px; /* Spacing */
}

/* CSS for temperature */
#temperature {
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold; /* Make the temperature bold */
    color: #a10f0f; /* Set the text color */
}

/* CSS for description */
#description {
    font-size: 18px; /* Adjust font size as needed */
    color: #a10f0f; /* Set the text color */
}

/* CSS for location */
#location {
    font-size: 20px; /* Adjust font size as needed */
    color: #a10f0f; /* Set the text color */
    font-style: italic; /* Make the location italic */
}
