body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-container {
    width: 550px;
    background-color: #2e2e2e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #bbbbbb;
}

.logo {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: calc(50% - 12px); /* Adjusted width for inputs */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #bbb;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #bbb;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.login {
    color: #007bff;
    text-decoration: none;
}

/* Additional CSS for new structure */
.name-container {
    display: flex;
    justify-content: space-between;
}

.name-input {
    width: calc(50% - 12px);
    display: inline-block;
    text-align: left;
}

#fname {
    width: 150px;
}

#lname {
    width: 150px;
}

.location-container {
    display: flex;
    justify-content: center;
}

.location-input {
    width: calc(50% - 12px);
    display: inline-block;
    text-align: left;
}

#city {
    width: 180px;
}

#country {
    width: 180px;
}